<include file='common/meta' />
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" value="{:input('id')}">
                <!-- <input type="hidden" name="type" value="1"> -->

                <div class="layui-form-item">
                    <label class="layui-form-label">满</label>
                    <div class="layui-input-inline">
                        <input type="text" name="full_price" value="{$list.full_price}" lay-verify="required" autocomplete="off" placeholder="￥0.00" class="layui-input">
                    </div>
                    <div class="layui-form-mid" style="margin-left:10px">减</div>
                    <div class="layui-input-inline">
                        <input type="text" name="less_price" value="{$list.less_price}" lay-verify="required" autocomplete="off" placeholder="￥0.00" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">满多少减多少</div>
                </div>

                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">选择商家</label>
                    <div class="layui-input-block">
                    <input type="radio" name="type" value="1" title="所有商家" lay-filter="goods" <if condition="$list.type eq 1 OR empty($list)">checked</if> >
                    <input type="radio" name="type" value="2" title="指定商家" lay-filter="goods" <if condition="$list.type eq 2">checked</if> >
                    </div>
                </div> -->

                  <div class="layui-form-item shop">
                    <label class="layui-form-label">请选择商家</label>
                    <div class="layui-input-block">
                     <if condition="empty($list)">
                         <foreach name="shop" item="v">
                         <input type="checkbox" name="shop_id[]" title="{$v.shop_name}" value="{$v.id}">
                        </foreach>
                     <else/>
                          <foreach name="shop" item="v">
                          <input type="checkbox" name="shop_id[]" title="{$v.shop_name}" value="{$v.id}" <if condition="in_array($v.id,$list.shop_id)">checked</if>>
                         </foreach>
                     </if>
                    </div>
                  </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">有效天数</label>
                    <div class="layui-input-block">
                       <input type="text" name="day" value="{$list.day}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
                       <div class="layui-form-mid layui-word-aux">用户领取后，多少天内有效</div>
                    </div>
                </div>


                <div class="layui-form-item ">
                    <label class="layui-form-label">领取时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_time" value="{$list.start_time}" id="start" autocomplete="off" placeholder="领取优惠劵的开始时间" class="layui-input">
                    </div>
                    <div class="layui-form-mid" style="margin-left:10px">至</div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_time" value="{$list.end_time}" id="end" autocomplete="off" placeholder="领取优惠劵的结束时间" class="layui-input">
                    </div>
                </div>

                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">发放数量</label>
                    <div class="layui-input-block">
                       <input type="number" name="num" value="{$list.num}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div> -->

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form','laydate'],function(){
        var form = layui.form;
        var laydate = layui.laydate;

        //开始时间
        laydate.render({
            elem: '#start', //指定元素
            type:'date',
            done:function(value,date){
                end.config.min = {
                    year:date.year,
                    month:date.month-1, 
                    date: date.date,
                };
                if(value > $('#end').val()){
                    $('#end').val('');
                }
            }
        });

        var end = laydate.render({
            elem: '#end', //指定元素
            type:'date',
        });
        
    })


    //表单上传
    fromUpload('form',"{:url('Activity/save')}");
</script>