<include file='common/meta' />

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" value="{:input('id')}">
                <input type="hidden" name="type" value="1">
                <div class="layui-form-item">
                    <label class="layui-form-label">广告标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="{$banner.title}" lay-verify="required" autocomplete="off" placeholder="请输入广告标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">广告图</label>
                    <div class="layui-input-block layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal file" id="test1"><i class="layui-icon"></i>上传封面</button>
                        <input class="layui-upload-file" type="file" accept="undefined" id="test1s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">跳转类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="url_type" value="1" title="页面" <if condition="$banner.url_type eq 1 OR empty($banner)">checked</if>>
                        <input type="radio" name="url_type" value="2" title="小程序" <if condition="$banner.url_type eq 2">checked</if>>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">跳转地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" value="{$banner.url}" autocomplete="off" placeholder="请输入页面路径或小程序APPID" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">请输入页面路径或小程序APPID,如需跳转小程序 需提前在小程序配置，否则无法跳转</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort" value="{$banner.sort}" lay-verify="required|number" autocomplete="off" placeholder="请输入广告排序，数字越大靠前" class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">广告位置</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="1" title="首页广告" <if condition="$banner.type eq 1 OR empty($banner)">checked</if>>
                        <input type="radio" name="type" value="2" title="预约装修广告" <if condition="$banner.type eq 2">checked</if>>
                    </div>
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file='common/edit' />
<script>
    layui.use(['upload','laydate'],function(){
        var upload = layui.upload;

        //封面上传
        upload.render({
            elem: '#test1',
            auto: false,
            field:'pic',
            //,multiple: true
            bindAction: '#test1s',
            done: function(res){
              console.log(res)
            }
        });
    })
    //表单上传
    fromUpload('form',"{:url('Banner/save')}");
</script>