<include file='common/meta' />
<style>
    .layui-table-cell{
       height: 100%;
        max-width: 100%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">预约列表</div>

                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键词</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keywords" placeholder="请输入预约单号/姓名/手机号" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <!-- 状态：1待支付；2未服务(已支付定金)；3已服务(已支付总金)；4取消中(申请退款)；5已取消(已退款)；6申请失败(退款失败) -->
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">全部状态</option>
                                    <option value="1">待支付</option>
                                    <option value="2">未服务</option>
                                    <option value="3">已服务</option>
                                    <option value="4">申请退款</option>
                                    <option value="5">已退款</option>
                                    <option value="6">退款失败</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        var url = "{:url('Reserves/index')}";

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:url,
            method:'post',
            response:{
                statusCode:200
            },
            skin:'line',
            page:{
                layout:['prev','page','next','skip','count']
            },
            where:{status:""},
            limit:20,
            toolbar:'#add',
            defaultToolbar:false,
            cols:[[
                {field:'id',title:'编号',width:'4%',align:'center'},
                {field:'order_sn',title:'预约单号'},
                {field:'shop_name',title:'门店'},
                {field:'uid',title:'用户'},
                {field:'name',title:'姓名'},
                {field:'phone',title:'手机号'},
                {field:'title',title:'名称'},
                {title:'图片',align:'图片',templet:function(d){
                    return '<div><img src="'+d.img+'" style="width:50px" alt="" /></div>';
                }},
                // {field:'label_name',title:'标签名称'},
                {field:'buy_num',title:'数量'},
                // {field:'front_money',title:'预付款'},
                // {field:'wait_money',title:'待付款'},
                // {field:'money',title:'市场价'},
                {field:'pay_money',title:'支付金额'},
                {field:'reserve_time',title:'预约时间'},
                {field:'end_time',title:'联保到期时间'},
                {field:'car_number',title:'车牌号'},
                {field:'goods_num',title:'产品序列号'},
                // {field:'refund_reason',title:'退款原因'},
                {field:'status_name',title:'预约状态'},


                // {field:'examine',title:'审核状态',width:"10%",templet:function(d){
                //     if(d.examine == 0){
                //         return '<button class="layui-btn layui-btn-sm" onclick="update('+d.id+',1)">审核通过</button>'+'<button class="layui-btn layui-btn-sm" onclick="update('+d.id+',2)">未通过</button>'
                //     } else if(d.examine == 1) {
                //         return '<button class="layui-btn layui-btn-sm layui-btn-danger">已通过</button>';
                //     }else{
                //         return '<button class="layui-btn layui-btn-sm">已拒绝</button>';
                //     }
                // }},
                // {field:'status',title:'状态',width:"5%",templet:function(d){
                //     if(d.status == 1){
                //         return '<button class="layui-btn layui-btn-sm layui-btn-danger" onclick="changeStatus('+d.id+',2)">显示</button>';
                //     } else {
                //         return '<button class="layui-btn layui-btn-sm" onclick="changeStatus('+d.id+',1)">隐藏</button>';
                //     }
                // }},
                // {field:'add_time',title:'注册时间'},
                {
                    title:'操作',
                    width:'7%',
                    toolbar:'#barDemo'
                }
            ]]
        })
    })
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Reserves/save')}?id={{d.id}}">编辑</a>
  <!-- <a class="layui-btn layui-btn-danger layui-btn-xs delete" data-table="" data-id="{{d.id}}" lay-event="del">删除</a> -->
</script>
<!-- 
<script type="text/html" id="add">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Reserves/reserve_save')}">发布广告</a>
</script> -->

<script>
    function update(id,type){
        var data = {
            id:id,
            examine:type
        };
        get_request("{:url('Reserves/reserveExamine')}",data);
    }
    function changeStatus(id,type){
        var data = {
            id:id,
            status:type
        };
        get_request("{:url('Reserves/reserveExamine')}",data);
    }
</script>