<include file='common/meta' />
<style>
    .laytable-cell-1-0-2,.laytable-cell-1-0-5{  /*最后的pic为字段的field*/
      height: 100%;
      max-width: 100%;
    } 
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">用户列表</div>
                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                        <div class="layui-inline">
                            <a href="{:url('User/user_excel')}"><button class="layui-btn layui-btn-normal">导出数据</button></a>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:"{:url('User/child')}",
            method:'post',
            response:{
                statusCode:200
            },
            page:{
                layout:['prev','page','next','skip','count']
            },
            where:{
                pid:"{:input('pid')}",
            },
            limit:20,
            cols:[[
                {field:'id',title:'编号',width:'4%'},
                {field:'nickname',title:'用户信息',width:'15%',templet:function(d){
                    return '<img src="'+d.head_img+'" alt="" style="width:30px;height:30px;margin-right:10px" />'+'<span>'+d.nickname+'</span>';
                }},
                {field:'sex_name',title:'性别',width:'5%'},
                {title:'积分',width:'5%',templet:function(d){
                    return "<a class='layui-btn layui-btn-xs layui-btn-primary' lay-event='edit' href='{:url('User/point')}?uid=" + d.id + "'>"+d.point+"</a>";
                }},
                {title:'城市',width:'10%',templet:function(d){
                    return '【'+d.province+'】【'+d.city+'】';
                }},
                {field:'phone',title:'手机号'},
                {field:'status',title:'状态',width:"5%",templet:function(d){
                    if(d.status == 1){
                        return '<button class="layui-btn layui-btn-sm" onclick="update('+d.id+',2)">正常</button>';
                    } else {
                        return '<button class="layui-btn layui-btn-sm layui-btn-danger" onclick="update('+d.id+',1)">冻结</button>'
                    }
                }},
                {field:'add_time',title:'注册时间'},
            ]]
        })
    })
</script>

<script>
    function update(id,type)
    {
        var data = {
            uid:id,
            status:type
        };
        get_request("{:url('User/edit')}",data);
    }
</script>
