<include file='common/meta' />
<style>
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;border:1px solid #eee;}
    .spec{float:right;width:80%;margin: 0 5px 10px 3px}
    .remove{width:4% !important;margin:10px 0 0 0;color:#FF5722;cursor:pointer;}
    .removes{color:#FF5722;cursor:pointer;}
    .layui-input-inline{margin-right:2px !important;}
    .layui-unselect{float:left;}
    .pane{width:13% !important;}
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" id="id" value="{:input('id')}">



                <div class="layui-form-item">
                    <label class="layui-form-label">城市</label>
                    <div class="layui-input-block">
                        <select name="city_id" id="" lay-verify="required" lay-search>
                            <option value="">请选择城市</option>
                            <foreach name="city" item="vo">
                                <option value="{$vo.id}" <if condition="$vo.id eq $shop.city_id">selected</if>>{$vo.province}{$vo.city}</option>
                            </foreach>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邀请码</label>
                    <div class="layui-input-block">
                        <input type="text" name="invite_code" value="{$shop.invite_code}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input" onlyread="onlyread">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">门店名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="shop_name" value="{$shop.shop_name}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" value="{$shop.address}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">负责人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$shop.name}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">负责人电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" value="{$shop.phone}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">其他电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" value="{$shop.tel}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">服务电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="telephone" value="{$shop.telephone}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">营业时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="job_time" value="{$shop.job_time}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">本店经营项目</label>
                    <div class="layui-input-block">
                        <input type="text" name="project" value="{$shop.project}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">其他经营项目</label>
                    <div class="layui-input-block">
                        <input type="text" name="other_project" value="{$shop.other_project}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">其他项目图片</label>
                    <div class="layui-input-block layui-upload">
                        <!-- <button type="button" class="layui-btn layui-btn-normal file" id="test1"><i class="layui-icon"></i>上传其他项目图片</button>
                        <input class="layui-upload-file" type="file" accept="undefined" name="file" id="test1s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span> -->
                        <if condition="$other_project_img">
                            <foreach name="other_project_img" item="vo">
                                <img style="width:70px" id="other_project_img" src="{$vo}" alt="">
                            </foreach>
                        </if>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">营业执照</label>
                    <div class="layui-input-block layui-upload">
                        <!-- <button type="button" class="layui-btn layui-btn-normal file" id="test2"><i class="layui-icon"></i>上传营业执照</button>
                        <input class="layui-upload-file" type="file" accept="undefined" name="file1" id="test2s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span> -->
                        <if condition="$license">
                            <foreach name="license" item="vo">
                                <img style="width:70px" id="license" src="{$vo}" alt="">
                            </foreach>
                        </if>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">身份证图片</label>
                    <div class="layui-input-block layui-upload">
                        <!-- <button type="button" class="layui-btn layui-btn-normal file" id="test3"><i class="layui-icon"></i>上传营业执照</button>
                        <input class="layui-upload-file" type="file" accept="undefined" name="file2" id="test3s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span> -->
                        <if condition="$idcard_img">
                            <foreach name="idcard_img" item="vo">
                                <img style="width:70px" id="idcard_img" src="{$vo}" alt="">
                            </foreach>
                        </if>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">店铺相册</label>
                    <div class="layui-input-block layui-upload">
                        <!-- <button type="button" class="layui-btn layui-btn-normal file" id="test3"><i class="layui-icon"></i>上传营业执照</button>
                        <input class="layui-upload-file" type="file" accept="undefined" name="file2" id="test3s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span> -->
                        <if condition="$img">
                            <foreach name="img" item="vo">
                                <img style="width:70px" id="img" src="{$vo}" alt="">
                            </foreach>
                        </if>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">合作类型</label>
                    <div class="layui-input-block">
                    <input type="radio" name="type" value="1" title="城市合伙人" <if condition="$shop['type'] eq 1">checked</if> >
                    <input type="radio" name="type" value="2" title="门店合伙人" <if condition="$shop['type'] eq 2">checked</if> >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核状态</label>
                    <div class="layui-input-block">
                    <input type="radio" name="examine" value="0" title="申请中" <if condition="$shop['examine'] eq 0">checked</if> >
                    <input type="radio" name="examine" value="1" title="审核通过" <if condition="$shop['examine'] eq 1">checked</if> >
                    <input type="radio" name="examine" value="2" title="未通过" <if condition="$shop['examine'] eq 2">checked</if> >
                    </div>
                </div>
                <div class="layui-form-item">
                    <!-- 1未付款；2已付款；3已过期 -->
                    <label class="layui-form-label">分红状态</label>
                    <div class="layui-input-block">
                    <input type="radio" name="state" value="1" title="未付款" <if condition="$shop['state'] eq 1">checked</if> >
                    <input type="radio" name="state" value="2" title="已付款" <if condition="$shop['state'] eq 2">checked</if> >
                    <input type="radio" name="state" value="3" title="已过期" <if condition="$shop['state'] eq 3">checked</if> >
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">余额</label>
                    <div class="layui-input-block">
                        <input type="text" name="money" value="{$shop.money}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">分红期限</label>
                    <div class="layui-input-block">
                        <input type="text" name="term" value="{$shop.term}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分红到期时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="end_time" value="{$shop.end_time|date='Y-m-d',###}"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <!-- <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn"> -->
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file='common/edit' />
<script>
    layui.use(['upload','laydate','form'],function(){
        var upload = layui.upload;
        var form = layui.form;

        //服务前图片上传
        upload.render({
            elem: '#test1',
            auto: false,
            field:'old_img',
            //,multiple: true
            bindAction: '#test1s',
            done: function(res){
              console.log('======')
              console.log(res)
            }
        });
        //服务后图片上传
        upload.render({
            elem: '#test2',
            auto: false,
            field:'new_img',
            //,multiple: true
            bindAction: '#test2s',
            done: function(res){
              console.log(res)
            }
        });

    });

    //表单上传
    fromUpload('form',"{:url('Example/save')}",function(data){
        if(data.code == 200){
            if(data.data != ''){
                // layer.msg('案例保存成功，前往添加案例规格',{time:3000},function(){
                //     window.location.href = "{:url('Example/attr_spec')}?id="+data.data
                // });
            } else {
                layer.msg(data.msg,{time:1500},function(){
                    //返回上一页刷新
                    self.location=document.referrer;
                });
            }
        } else {
            layer.msg(data.msg,{time:3000});
        }
    });

    $('.edit').editable({
        inlineMode: false, 
        alwaysBlank: true,
        language: "zh_cn",
        imageUploadURL:"{:url('common/fileUpload')}"
    }) 
</script>