<include file='common/meta' />
<style>
    .layui-table-cell{  /*最后的pic为字段的field*/
      height: 100%;
      max-width: 100%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">城市列表</div>

                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">城市类型</label>
                            <div class="layui-input-inline">
                                <select name="cate_id" id="" lay-search>
                                    <option value="">--全部--</option>
                                    <foreach name="cate" item="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">城市名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="city" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        var url = "{:url('Citys/index')}";

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:url,
            method:'post',
            response:{
                statusCode:200
            },
            page:{
                layout:['prev','page','next','skip','count']
            },
            limit:20,
            toolbar:'#add',
            defaultToolbar:false,
            cols:[[
                {field:'id',title:'编号',width:'4%'},
                {field: 'cate_name', minWidth: 200, title: '城市类型'},
                {field: 'city', minWidth: 200, title: '城市'},
                {field: 'num', minWidth: 200, title: '门店入驻数量'},

                {field:'add_time',title:'添加时间'},

                {
                    width:'15%', align: 'center', templet: function (d) {
                        var str = '';

                        str += '<a href="{:url('Citys/save')}?id='+d.id+'"><button class="layui-btn layui-btn-xs layui-btn-primary" style="margin:0 10px">编辑</button></a>';
                        str += '<button class="layui-btn layui-btn-xs layui-btn layui-btn-danger delete" data-url="{:url('Citys/delete_city')}" data-id="'+d.id+'">删除</button>';
                        return str;
                    }, title: '操作'
                },
            ]]
        })
    })
</script>


<script type="text/html" id="add">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Citys/save')}">添加城市</a>
</script>
